{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Groups{% endtrans %}</h1>

    <div class="mb-3">
        <a class="btn btn-primary" href="{{ path('group_add') }}"><i class="fa fa-plus"></i></a>
    </div>

    <div class="row">
    {% for group in groups %}
        <div class="col-xs-12 col-sm-4 pb-3">
            <div class="card text-center">
                <div class="card-block">
                    <h4 class="card-title">{{ group.name }}</h4>

                    <a class="btn btn-primary" href="{{ path('group_edit', {id: group.id}) }}"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-primary" href="{{ path('group_delete', {id: group.id}) }}"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
