<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Prider Server Update Management{% endblock %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    {% block javascripts %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body class="{% block additionalBodyClass %}{% endblock %}">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-container container center-layout">
        <a class="navbar-brand" href="/">Prider</a>

        <div class="collapse navbar-collapse" id="mainNavbar">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Server</a>
                </li>
            </ul>
            {% endif %}
            <ul class="navbar-nav my-2 my-lg-0">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Abmelden
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            {% for type, flashMessages in app.flashes %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                &copy; {{ "now" | date("Y") }} Prider Server Update Management
            </div>
        </div>
    </div>
</footer>

</body>
</html>
